html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow-y: auto; 
    overflow-x: hidden;
}

body {
    background-color: #8eafc0;
}

#logo {
    float: left;
}

#navigation {
    float: right;
}

#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#navigation li {
    float: left;
    height: 100px;
    width: 50px;
    text-align: center;
    vertical-align: center;
    padding: 10px;
}
#navigation li a {
    color: #b32577;
    display: block;
    font: 14px/48px Arial, Helvetica, sans-serif;
    height: 100px;
    text-decoration: none;
    text-transform: uppercase;
}

#navigation li a:hover {
    color: #dd77aa;
}

#navigation-buffer {
    height: 40px;
}

#searchnav {
    position: absolute;
    bottom: 0px;
    display: block;
    height: 50px;
    width: 100%;
    border-top: 2px solid #b7317f;
    background-color: #b32577;
}

#header {
    background-color: #263344;
    position: fixed;
    width: 100%;
    height: 160px;
    left: 0px;
    top: 0px;
    margin: 0 auto;
    padding-top: 10px;
    z-index: 1;
}

#header-content {
    margin: 0 auto;
    width: 700px;
}


#contents {
    top: 190px;
    position: relative;
    z-index: -1;
}

.results {
    margin: 0 auto;
    background-color: #dd77aa; /* #dcd3ca */
    border-collapse: collapse; 
}

.results tr {
    //border: 1px solid black;
}

.results tr td {
    border-width: 1px 0px; /*  1px top & bottom border,  0px left & right */
    border-color: #b32577;
    border-style: solid;
    padding: 15px 15px 25px 15px;
    color: #263344;
}

.results tr td a {
    color: #b32577;
    text-decoration: none;
}

.results tr td a:hover {
    color: #dd77aa;
}

.results-image {
    width: 100px;
    height: 100px;
}

.results-description {
    width: 410px; /* 500 - 15*6 */
    height: 100px;
}

.results-rating {
    width: 100px;
    height: 100px;
}

#footer {
    position: relative;
    bottom: -200px;
    display: block;
    height: 50px;
    width: 110%;
    left: -10px;
    background-color: #263344;
    text-align: center;
    color: #8eafc0;
}

#footer p {
    position: relative;
    top: 18px;
    vertical-align: middle;
}

#searchnav-contents table{
    width: 700px;
    margin: 0 auto;
    height: 50px;
}

#search-rating, #search-value{
    width: 200px;
}
 #search-bar{
    text-align: right;
    width: 250px;
}
#search-button {
    text-align: right;
    width: 50px;
}

#top-eat, #top-sleep, #top-play {
    width: 215px;
    margin: 0 auto;
    padding: 10px;
}

